<app-nav></app-nav>

<div class='fotos'>
  <figure class="figure">
    <img class="figure-img img-fluid rounded" id='photo1' src='/assets/image/viagem1.jpg' alt='photo'>
    <figcaption class="figure-caption">A caption for the above image.</figcaption>
  </figure>
  <figure class="figure">
    <img class="figure-img img-fluid rounded" id='photo2' src='/assets/image/viagem2.jpg' alt='photo'>
    <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
  </figure>
  <figure class="figure">
    <img class="figure-img img-fluid rounded" id='photo3' src='/assets/image/viagem3.jpg' alt='photo'>
    <figcaption class="figure-caption">A caption for the above image.</figcaption>
  </figure>
  <figure class="figure">
    <img class="figure-img img-fluid rounded" id='photo4' src='/assets/image/viagem4.jpg' alt='photo'>
    <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
  </figure>
  <figure class="figure">
    <img class="figure-img img-fluid rounded" id='photo5' src='/assets/image/viagem5.jpg' alt='photo'>
    <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
  </figure>
  <figure class="figure">
    <img class="figure-img img-fluid rounded" id='photo6' src='/assets/image/viagem6.jpg' alt='photo'>
    <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
  </figure>
  
</div>
